
[user]
	name = Alex Johnson
	email = zerg4chat@gmail.com
[alias]
	co = checkout
  cm = commit -m
  cma = commit -a -m
  ar = add -A
  a = add .
  b = branch
  s = status
  l = log --oneline
  df = diff --name-status
[core]
	editor = vim
