.right_box
  = render "partial/conversation", :conversation => conversation
  #rating{:style=>"padding:5px"}
    = render "conversations/rating", :conversation_id => conversation.id
  .loadin
    = image_tag 'loading_dark.gif', size: '310x290'
